@import url('https://fontlibrary.org//face/chomsky');

.App {
  margin: 0 40px;
}
h1 {
  font-family: 'ChomskyRegular' ;
  font-weight: lighter;
  font-style: normal; 
  letter-spacing: 5px;
  line-height: 30px;
  background-color: black;
  color: white; 
} 
body{
  background-color: peachpuff; 
  font-family: 'IM Fell English', serif;
}



.story{
  background-color: white;
  padding: 0 40px;
  border-radius: 10px;
}
