@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins&display=swap');
@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");

html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.srOnly { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* SETUP SNIPPET  */
/* font-family: 'Poppins', sans-serif; 
font-family: 'Abril Fatface', cursive;  */

body{
  font-family: 'Poppins', sans-serif; 
  background-color: #F4EFE3;
  color:black;
}

.wrapper{
  margin: 0 auto;
  width: 95%;
}

.App{
  margin-top: 20px;
}

h1 {
  font-family: 'Abril Fatface', cursive;  
  font-weight: bolder;
  font-style: normal; 
  letter-spacing: 2px;
  text-align: center;
  width: 50%; 
  padding: 10px 0; 
  margin: 20px auto;
  font-size: 4rem; 
  color: #A71D02; 
  background-color: white;
  border-radius: 50%;
} 
h2{
  font-family: 'Abril Fatface', cursive;  
  color: #F13C20; 
}
h2::first-letter{
  text-transform: uppercase;
}
header p{
  font-size: 1.25rem;
  text-align: center;
}
header span{
  color: #0080FF;

}
nav ul {
  list-style-type: none;
  padding: 0; 
  margin: 0;
  display: flex;
  width:100%; 
}
nav li{
  flex-grow: 1;
}
nav button{
  font-family: 'Poppins', sans-serif; 
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 1.5px; 
  padding: 5px 5px; 
  width: 100%;
  border: none; 
  color: black; 
  background-color: #F4EFE3;
  border-top: 2px solid #0080FF;
  border-bottom: 2px solid #0080FF;
}
nav button:hover{
  color: #000080; 
  background-color: white;
}
.storyContainer{
  display: flex;
  flex-wrap: wrap;
}
 .individualArticle{
  margin-left:20px; 
  width: calc(50% - 40px);
  margin-top: 20px;
  padding: 40px 40px;
  background-color: white;
  border-radius: 10px;
  font-size: 1.1rem;
 }
img{
  margin: 0 auto;
  width: 90%; 
  height: auto;
  display: block;
  object-fit: cover;
  border: 10px solid #A71D02; 
  border-bottom: 30px solid #A71D02; 
}


.formContainer{
  display: flex;
  justify-content: space-between;
}

form input{
  padding-left: 20px;
  border-radius: 10px;
  color: #A71D02;
  border:2px solid #A71D02; 
}
.formContainer button, .individualArticle button{
  display: block;
  background-color: #A71D02;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  padding:5px 20px;
  font-weight: bold;
  width:187px; 
  color: white; 
}
.formContainer button, .individualArticle button:hover{
  cursor: pointer;
  opacity: 0.8;
}


form i{
  color: #A71D02;
  position: relative; 
  right: 187px; 
}

.individualArticle a {
  text-decoration: none;
  color: white;
}
.individualArticle span{
  font-weight: bold;
  text-transform: uppercase;
}

.date{
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
  color: #000080;
}
footer{
  background-color: #000080;
  margin-top: 16px;
  padding: 0;
  padding: 10px 10px
}
footer li{ 
  text-transform: uppercase;
  margin: 0; 
  padding: 0;
  display: inline-block;
}
footer a{
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0; 
  padding: 0;
} 

/* MEDIA QUERIES  */
@media (max-width:650px){
  .individualArticle{
    width: 100%;
  }
}